:root {
    /* ----- colors ----- */
    --base-color: #0d0d0d;
	--main-color: #A0B9D7;
	--detail-color: #572CD2;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior:smooth;
}

body {
	
	background-color: #121212;
}

a {
	color: black;
	text-decoration: none;
}
